*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
OpenGPSLogger/app/release

OpenGPSLogger/app/src/main/assets/*.override.*
OpenGPSLogger/app/src/main/res/**/int_*